**Exercise 2 -**

# Data Science Tools and Ecosystem

**Exercise 3 -**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages used by Data Scientists.
- Commonly used libraries by Data Scientists.
- Example of arithmetic expression in code cell.

**Exercise 4 -**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

**Exercise 5 -**

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. seaborn
4. scipy

**Exercise 6 -**

| Data Science Tools |
| --- |
| RStudio |
| Apache Spark |
| TensorFlow |

**Exercise 7 -**

### Below are a few examples of evaluating arithmetic expressions in Python.

**Exercise 8 -**

In [6]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

**Exercise 9 -**

In [8]:
# This will convert 200 minutes to hours by diving by 60.
InHours = (200/60)
print(InHours)

3.3333333333333335

**Exercise 10 -**

Below Exercise 3

**Exercise 11 -**

## Author
Ansh Saxena